## Core Data Structures in Pandas
Pandas is built on two main data structures:

->Series → One-dimensional (like a single column in Excel) list with labels(index)

->DataFrame → Two-dimensional (like a full spreadsheet or SQL table). Like a dictionary of series

In [13]:
import pandas as pd
 
s = pd.Series([10, 20, 30, 40]) #default index 0,1,2.....

s2 = pd.Series([10, 20, 30, 40], index=["jew","los", "sj","ed"]) #custom index
print(s2)
print(s2["los"])
print(type(s2))

jew    10
los    20
sj     30
ed     40
dtype: int64
20
<class 'pandas.core.series.Series'>

## DataFrame
### From Dictionary of Lists

In [30]:
import pandas as pd

data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}
 
df = pd.DataFrame(data)
df
df.index
df.columns

Index(['name', 'age', 'city'], dtype='object')

### From Python Lists

In [31]:
 
data = [
    ["Alice", 25],
    ["Bob", 30],
    ["Charlie", 35]
]
 
df = pd.DataFrame(data, columns=["Name", "Age"])
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

### From NumPy Arrays

In [36]:
import numpy as np
 
arr = np.array([[1, 2], [3, 4]])
df = pd.DataFrame(arr, columns=["A", "B"])
df

   A  B
0  1  2
1  3  4

### From CSV Files

In [38]:
df = pd.read_excel("data.xlsx")
df

ValueError: Excel file format cannot be determined, you must specify an engine manually.