In [14]:
import pandas as pd
df = pd.read_csv("1745500125912-data.csv")

df["Actor"]        # Single column (as Series)
df[["Actor", "IMDb"]]  # Multiple columns (as DataFrame)

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

### Select Specific Rows and Columns

In [37]:
df.loc[0, "Actor"]        # Value at row 0, column 'Name'
df.iloc[0, 1]            # Value at row 0, column at index 1

df.loc[0:2, ["Actor", "Film"]]   # Rows 0 to 2, selected columns
# df.iloc[0:2, 0:2]              # Rows and cols by index position


#at and iat-> These are optimized for single element access:
df.at[0, "Actor"]       # Fast label-based access
df.iat[0, 1]           # Fast position-based access

'Pathaan'

## Filtering

In [48]:
df[df["IMDb"] > 7]
df[df["IMDb"] > 7]['Actor']

#Multiple Conditions (AND / OR)
df[(df["IMDb"] > 6) & (df["Year"] > 2018)]
df[(df["IMDb"] >6 ) | (df["Year"] > 2018)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

## Querying
#### 1. Column names become variables
You can reference column names directly in the query string:

`df.query("age > 25 and city == 'Delhi'")`

#### 2. String values must be in quotes
Use single or double quotes around strings in the expression:

`df.query("name == 'Harry'")`

If you have quotes inside quotes, mix them:

`df.query('city == "Mumbai"')`

#### 3. Use backticks for column names with spaces or special characters
If a column name has spaces, use backticks (`):

`df.query("`first name` == 'Alice'")`

#### 4. You can use @ to reference Python variables
To pass external variables into .query():

`age_limit = 30`

`df.query("age > @age_limit")`

#### 5. Logical operators
Use these:

and, or, not — instead of &, |, ~
==, !=, <, >, <=, >=

Bad:

`df.query("age > 30 & city == 'Delhi'")`  # ❌

Good:

`df.query("age > 30 and city == 'Delhi'")`  # ✅

#### 6. Chained comparisons
Just like Python:

`df.query("25 < age <= 40")`

#### 7. Avoid using reserved keywords as column names
If you have a column named class, lambda, etc., you’ll need to use backticks:

df.query(" \`class\` == 'Physics'")

#### 8. Case-sensitive
Column names and string values are case-sensitive:

`df.query("City == 'delhi'")`  # ❌ if actual value is 'Delhi'

#### 9. .query() returns a copy, not a view
The result is a new DataFrame. Changes won't affect the original unless reassigned:

`filtered = df.query("age < 50")`

In [50]:
df.query("Year > 2018 and IMDb > 6")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2